<%- include('includes/header.ejs') %> 
<h1>Add a Product</h1>
<form id="add-product" action="/project1/add-product" method="POST">
   <label>Title<br><input type="text" name="title"></label><br>
   <label>Image URL<br><input type="url" name="imageUrl"></label><br>
   <label>Price<br><input type="text" name="price"></label><br>
   <label>Description<br><textarea rows="5" name="description"></textarea></label><br>
   <button type="submit">Add</button>
</form>
<%- include('includes/end.ejs') %> 