<%- include('includes/header.ejs') %>
<h1>Login</h1>
<form class="login_signup" action="/project1/login" method="POST">
   <% if (errorMessage) { %> 
      <div>
         <%= errorMessage %> 
      </div>
   <% } %> 
   <label>Email<br><input type="email" name="email"></label><br>
   <label>Password<br><input type="password" name="password"></label><br>
   <button class="btn" type="submit">Login</button>
   <a id="resetP" href="/project1/reset">Reset Password</a>
</form>

<%- include('includes/end.ejs') %> 