<%- include('includes/header.ejs') %> 
<h1>Login</h1>
<form action="/project1/login" method="POST">
   <label>Email<br><input type="email" name="email"></label><br>
   <label>Password<br><input type="password" name="password"></label><br>
   <button type="submit">Add</button>
</form>
<%- include('includes/end.ejs') %> 