<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Prove 10</h1>
  </div>
</div>
<div class="container">
  <h2>Names:</h2>
  <ul id="nameList"></ul>
  
  <h2>Submit a name</h2>
    <div class="actions_container">
        <input type="text" id="newName">
        <button id="submitName">Submit</button>
    </div>
    
    <script src="/scripts/prove10.js"></script>
</div>


</body>
</html>