<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/project1.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark">

            <div>
                <a class="navbar-brand" href="/project1"><img style="max-width: 30px;" src="/images/icon.png" alt="Guitar"></a>
                <span class="navbar-text">Guitar+</span>
            </div>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapse_target">
                
                <ul class="navbar-nav ml-auto">
    
                        <li><a class="nav-link" href="/project1/catalog">Catalog</a></li>
                    <% if (isAuthenticated) { %>
                        <li class="nav-item"><a class="nav-link" href="/project1/cart">🛒 Cart [<%= cartItems %>] </a></li>
                        <li class="nav-item"><a class="nav-link" href="/project1/orders">Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/project1/adminProds">Admin</a></li>
                    <% } %>
                    <% if (!isAuthenticated) { %>
                        <li class="nav-item"><a class="nav-link" href="/project1/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/project1/signup">Signup</a></li>
                    <% } else { %>
                        <li class="nav-item">
                            <form action="/project1/logout" method="POST">
                                <button class="nav-link" id="logout_btn" type="submit">Logout</button>
                            </form>
                        </li>
                    <% } %>
                </ul>

            </div>

            
        </nav>
    </header>