<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/stylesheets/project1.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a id="logo-text" href="/project1">Guitar+</a></li>
                <li><a href="/project1/catalog">Catalog</a></li>
            </ul>
            <ul>
                <% if (isAuthenticated) { %>
                
                <li><a href="/project1/cart">Cart [<%= cartItems %>] </a></li>
                    <li><a href="/project1/orders">Orders</a></li>
                    <li><a href="/project1/adminProds">Admin</a></li>
                <% } %>
                <% if (!isAuthenticated) { %>
                    <li><a href="/project1/login">Login</a></li>
                    <li><a href="/project1/signup">Signup</a></li>
                <% } else { %>
                    <li>
                        <form action="/project1/logout" method="POST">
                            <button id="logout_btn" type="submit">Logout</button>
                        </form>
                    </li>
                <% } %>
            </ul>
        </nav>
    </header>